<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Trainer Salary Records</title>
</head>
<body>

<div class="container">

    <h2 class="mt-4">Trainer Salary Records</h2>

    <!-- List Section -->
    <h3 class="mt-4">List</h3>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Trainer Salary Paid ID</th>
            <th>Week Number</th>
            <th>Month Number</th>
            <th>Year Number</th>
            <th>Total Number</th>
            <th>Actions</th>
        </tr>
        <tr th:each="trainerSalaryPaidDTO : ${trainerSalaryPaidList}">
            <td th:text="${trainerSalaryPaidDTO.id}"></td>
            <td th:text="${trainerSalaryPaidDTO.trainerSalaryPaidId}"></td>
            <td th:text="${trainerSalaryPaidDTO.weekNumber}"></td>
            <td th:text="${trainerSalaryPaidDTO.monthNumber}"></td>
            <td th:text="${trainerSalaryPaidDTO.yearNumber}"></td>
            <td th:text="${trainerSalaryPaidDTO.totalNumber}"></td>
            <td>
                <a class="btn btn-info" th:href="@{'/trainersalary/view/' + ${trainerSalaryPaidDTO.id}}">View</a>
                <a class="btn btn-warning" th:href="@{'/trainersalary/edit/' + ${trainerSalaryPaidDTO.id}}">Edit</a>
                <a class="btn btn-danger" th:href="@{'/trainersalary/delete/' + ${trainerSalaryPaidDTO.id}}">Delete</a>

            </td>
        </tr>
    </table>

    <!-- Create Section -->
    <h3 class="mt-4">Create</h3>
    <form th:action="@{/trainersalary/save}" th:object="${trainerSalaryPaidDTO}" method="POST">
        <input type="hidden" th:field="*{id}"/>
        <label class="form-label">Trainer Salary Paid ID: <input class="form-control" type="text" th:field="*{trainerSalaryPaidId}"/></label><br>
        <label class="form-label">Week Number: <input class="form-control" type="text" th:field="*{weekNumber}"/></label><br>
        <label class="form-label">Month Number: <input class="form-control" type="text" th:field="*{monthNumber}"/></label><br>
        <label class="form-label">Year Number: <input class="form-control" type="text" th:field="*{yearNumber}"/></label><br>
        <label class="form-label">Total Number: <input class="form-control" type="text" th:field="*{totalNumber}"/></label><br>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>


</div>

<!-- Bootstrap JS and Popper.js (required for Bootstrap) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
