<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />-->
</head>
<body>
<!-- Form without bootstrap -->
<div class="auth-wrapper">
    <div class="auth-container">
        <div class="auth-action-left">
            <div class="auth-form-outer">
                <h2 class="auth-form-title">
                    Create Account
                </h2>
                <form id="loginForm" class="login-form" th:action="@{process_register}" th:object="${managerDTO}" method="POST" onsubmit="return checkNull()">
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{uuid}">

                        <input type="text" class="auth-form-input" placeholder="First Name" th:field="*{firstName}">

                        <input type="text" class="auth-form-input" placeholder="Last Name" th:field="*{lastName}">


                        <input type="email" class="auth-form-input" placeholder="Email" th:field="*{email}" >

                        <input type="text" class="auth-form-input" placeholder="Address" th:field="*{address}">

                        <input type="number" class="auth-form-input" placeholder="Phone" th:field="*{phone}">

                        <input type="text" class="auth-form-input" placeholder="User Name" th:field="*{userName}">
                    <div class="input-icon">
                        <label for="Password"></label><input type="password" class="auth-form-input" placeholder="Password" id="password" th:field="*{password}">
                        <i class="fa fa-eye show-password"></i>
                    </div>
                    <label for="confirmPassword"></label><input type="password" class="auth-form-input" placeholder="Confirm Password" id="confirmPassword" onblur=checkPassword()>

                    <select class=" form-select" aria-label="Default select example" th:field="*{managementType}" >
                        <option selected value="-1">Management Type</option>
                        <option value="finance" >Finance</option>
                        <option value="members" >Members</option>
                        <option value="customer" >Customer Care</option>
                    </select>
                    <br>
                    <label class="btn active">
                        <input type="checkbox" name='email1' checked>
                        <i class="fa fa-square-o"></i><i class="fa fa-check-square-o"></i>
                        <span> I agree to the <a href="#">Terms</a> and <a href="#">Privacy Policy</a>.</span>
                    </label>
                    <div class="footer-action">
                        <button type="submit" value="Sign Up" class="auth-submit">Sign Up</button>
                        <a class="auth-btn-direct">Sign In</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="auth-action-right">
            <div class="auth-image">
                <img th:src="@{/img/logo_login.png}" alt="login">
            </div>
        </div>
    </div>
</div>
<script>
    // alert("abc")
    function checkPassword() {
        let password = document.getElementById("password").value;
        let confirmPassword = document.getElementById("confirmPassword").value;
        if (password !== confirmPassword) {
            alert("Mật khẩu không khớp. Vui lòng nhập lại.");
            document.getElementById("confirmPassword").value = "";
            // document.getElementById("confirmPassword").focus();
            return false;
        }
    }
</script>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>-->
<script th:src="@{/js/common.js}"></script>


</body>
</html>

