<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>#No</th>
        <th>Id</th>
        <th>weekNumber</th>
        <th>yearNumber</th>
        <th>totalNumber</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="salaryPaid : ${salaryPaids}">
        <tr>
            <td th:text="${salaryPaid.trainerSalaryPaidId}">trainerSalaryPaidId</td>
            <td th:text="${salaryPaid.id}">user-id</td>
            <td th:text="${salaryPaid.weekNumber}">weekNumber</td>
            <td th:text="${salaryPaid.monthNumber}">monthNumber</td>
            <td th:text="${salaryPaid.yearNumber}">yearNumber</td>
            <td th:text="${salaryPaid.totalNumber}">totalNumber</td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>